<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="com.nt.beans.SampleBean">
		<property name="name" value="Sushant" />
		<property name="age" value="27" />
	</bean>
	<bean class="com.nt.beans.SampleBean">
		<property name="name" value="Rockey" />
		<property name="age" value="278" />
	</bean>
	<bean class="com.nt.beans.SampleBean">
		<property name="name" value="Prashant" />
		<property name="age" value="30" />
	</bean>
	<bean class="com.nt.beans.SampleBean">
		<property name="name" value="Vickey" />
		<property name="age" value="29" />
	</bean>
	<bean class="java.util.Date" />
	<bean class="java.util.Date">
	<property name="date" value="10"></property>
	</bean>
</beans>